[defaults]
inventory               = /workspace/inventory
stdout_callback         = yaml
bin_ansible_callbacks   = True
callback_whitelist      = profile_tasks, timer
forks                   = 20
pipelining              = True
gathering               = smart
fact_caching            = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout    = 3600
remote_user             = ansible
private_key_file        = /root/.ssh/id_rsa
host_key_checking       = False
ssh_args                = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
timeout                 = 30
roles_path              = /workspace/roles:/etc/ansible/roles
log_path                = /workspace/ansible.log
retry_files_enabled     = False

[privilege_escalation]
become                  = True
become_method           = sudo
become_ask_pass         = False

[galaxy]
server_list             = automation_hub, galaxy

[galaxy_server.galaxy]
url                     = https://galaxy.ansible.com/

[galaxy_server.automation_hub]
url                     = https://cloud.redhat.com/api/automation-hub/
